In [36]:
import pandas as pd

In [109]:
df = pd.read_csv("data/jre_elon_musk.csv")
df.head()

    Timestamp    Speaker                                               Text
0  [00:00:00]  Joe Rogan  Ah, ha, ha, ha. Four, three, two, one, boom. T...
1  [00:00:09]  Elon Musk                                    You're welcome.
2  [00:00:10]  Joe Rogan                        It's very good to meet you.
3  [00:00:11]  Elon Musk                              Nice to meet you too.
4  [00:00:12]  Joe Rogan    And thanks for not lighting this place on fire.

In [110]:
# Print the first ten lines of text
for i in range(10):
    print(df.iloc[i]['Text'])

Ah, ha, ha, ha. Four, three, two, one, boom. Thank you. Thanks for doing this, man. Really appreciate it.
You're welcome.
It's very good to meet you.
Nice to meet you too.
And thanks for not lighting this place on fire.
You're welcome. That's coming later.
How does one, just in the middle of doing all the things you do, create cars, rockets, all the stuff you're doing,constantly innovating, decide to just make a flamethrower? Where do you have the time for that?
Well, the flame, we didn't put a lot of time into the flamethrower. This was an off-the-cuff thing. It's sort of a hobbycompany called the Boring Company, which started out as a joke, and we decided to make a real, and dig a tunnelunder LA. And then, other people asked us to dig tunnels. And so, we said yes in a few cases.
Now, who-
And then, we have a merchandise section that only has one piece of merchandise at a time. And we started off witha cap. And there was only one thing on, which is BoringCompany.com/hat. That's it. And then, we sold the hats,limited edition. It just said, "The Boring Company."

In [111]:
timestamp = "[01:01:01]"

convert_timestamp_into_seconds(timestamp)

3661

In [112]:
# Create a function to convert timestamp into seconds
import re
def convert_timestamp_into_seconds(timestamp):
    split_timestamp = timestamp.strip("[]").split(":")
    seconds = int(split_timestamp[2])
    minutes = int(split_timestamp[1])*60
    hours = int(split_timestamp[0])*60*60

    return hours + minutes + seconds

In [113]:
# Convert the Timestamp column using the function defined above

df["Timestamp"] = df.Timestamp.apply(lambda t: convert_timestamp_into_seconds(t))

In [114]:
df

      Timestamp    Speaker                                               Text
0             0  Joe Rogan  Ah, ha, ha, ha. Four, three, two, one, boom. T...
1             9  Elon Musk                                    You're welcome.
2            10  Joe Rogan                        It's very good to meet you.
3            11  Elon Musk                              Nice to meet you too.
4            12  Joe Rogan    And thanks for not lighting this place on fire.
...         ...        ...                                                ...
1826       9401  Joe Rogan            I believe it's true too. So, thank you.
1827       9403  Elon Musk                                    You're welcome.
1828       9404  Joe Rogan  All you assholes out there, be nice. Be nice, ...
1829       9410  Elon Musk                              All right, thank you.
1830       9410  Joe Rogan  Good night, everybody. END OF TRANSCRIPTAutoma...

[1831 rows x 3 columns]

In [115]:
# Add a column with the seconds lasted by the text in the row
# for example: the first row lasts 9 seconds, since Elon Musk
# answer at the second 9 (Hint: use shift with period - 1).
# In case of negative numbers, just make them 1 (minimum interval lenght is 1 second)
import numpy as np
def max1(x):
    return np.maximum(1,x)

df["Interval"] = max1(df.Timestamp.shift(periods=-1,fill_value=1) - df.Timestamp)

In [116]:
df

,Timestamp,Speaker,Text,Interval
0,0,Joe Rogan,"Ah, ha, ha, ha. Four, three, two, one, boom. T...",9
1,9,Elon Musk,You're welcome.,1
2,10,Joe Rogan,It's very good to meet you.,1
3,11,Elon Musk,Nice to meet you too.,1
4,12,Joe Rogan,And thanks for not lighting this place on fire.,1
...,...,...,...,...
1826,9401,Joe Rogan,"I believe it's true too. So, thank you.",2
1827,9403,Elon Musk,You're welcome.,1
1828,9404,Joe Rogan,"All you assholes out there, be nice. Be nice, ...",6
1829,9410,Elon Musk,"All right, thank you.",1
1830,9410,Joe Rogan,"Good night, everybody. END OF TRANSCRIPTAutoma...",1

In [121]:
df.Speaker.unique()

array(['Joe Rogan', 'Elon Musk', 'Jaime'], dtype=object)

In [123]:
speaker_total = df.groupby('Speaker')['Interval'].sum()

In [124]:
# Total seconds spoken by Joe Rogan
speaker_total['Joe Rogan']

4637

In [125]:
# Total seconds spoken by Elon Musk
speaker_total['Elon Musk']

5075

In [126]:
# Total seconds spoken by Jaime
speaker_total['Jaime']

45

In [128]:
# Average speaking interval for each person
df.groupby('Speaker')['Interval'].mean()

Speaker
Elon Musk    5.583058
Jaime        2.647059
Joe Rogan    5.123757
Name: Interval, dtype: float64

Who speaks faster?

Tokenize the text, preprocess the tokens so that you have only words (excluding punctuation) and compute the velocity of each speaker as: number of words per interval / length of interval . Store the result in a column named Velocity and compute the average for each speaker.

In [136]:
# Preprocess the data
import spacy
import string

nlp = spacy.load("en_core_web_sm")

# Create a function to remove punctuation from text

def remove_punctuation(text):
    # your code here
    return "".join([char for char in text if char not in string.punctuation])

# Create a function to count the non punctuation token of a text

def count_tokens(text):
    # your code here
    text_no_punct = remove_punctuation(text)
    doc = nlp(text_no_punct)
    count = 0
    for token in doc:
        count += 1
    return count
    
    
# Create a function to remove stop words from text
spacy_stopwords = spacy.lang.en.stop_words.STOP_WORDS

def remove_stopwords(text):
    # your code here
    doc = nlp(text)
    return "".join([token.text for token in doc if not token.spacy_stopwords])

df["TextNoPunct"] = [remove_punctuation(text) for text in df.Text]

In [137]:
# Put the number of tokens of each row in a new column
df["n_tokens"] = [count_tokens(text) for text in df.TextNoPunct]

In [138]:
df

,Timestamp,Speaker,Text,Interval,TextNoPunct,n_tokens
0,0,Joe Rogan,"Ah, ha, ha, ha. Four, three, two, one, boom. T...",9,Ah ha ha ha Four three two one boom Thank you ...,19
1,9,Elon Musk,You're welcome.,1,Youre welcome,3
2,10,Joe Rogan,It's very good to meet you.,1,Its very good to meet you,6
3,11,Elon Musk,Nice to meet you too.,1,Nice to meet you too,5
4,12,Joe Rogan,And thanks for not lighting this place on fire.,1,And thanks for not lighting this place on fire,9
...,...,...,...,...,...,...
1826,9401,Joe Rogan,"I believe it's true too. So, thank you.",2,I believe its true too So thank you,8
1827,9403,Elon Musk,You're welcome.,1,Youre welcome,3
1828,9404,Joe Rogan,"All you assholes out there, be nice. Be nice, ...",6,All you assholes out there be nice Be nice bit...,18
1829,9410,Elon Musk,"All right, thank you.",1,All right thank you,4
1830,9410,Joe Rogan,"Good night, everybody. END OF TRANSCRIPTAutoma...",1,Good night everybody END OF TRANSCRIPTAutomate...,18

In [141]:
# Compute the velocity and store it in a new column

df["Velocity"] = df["n_tokens"]/df["Interval"]

In [142]:
df

,Timestamp,Speaker,Text,Interval,TextNoPunct,n_tokens,Velocity
0,0,Joe Rogan,"Ah, ha, ha, ha. Four, three, two, one, boom. T...",9,Ah ha ha ha Four three two one boom Thank you ...,19,2.111111
1,9,Elon Musk,You're welcome.,1,Youre welcome,3,3.000000
2,10,Joe Rogan,It's very good to meet you.,1,Its very good to meet you,6,6.000000
3,11,Elon Musk,Nice to meet you too.,1,Nice to meet you too,5,5.000000
4,12,Joe Rogan,And thanks for not lighting this place on fire.,1,And thanks for not lighting this place on fire,9,9.000000
...,...,...,...,...,...,...,...
1826,9401,Joe Rogan,"I believe it's true too. So, thank you.",2,I believe its true too So thank you,8,4.000000
1827,9403,Elon Musk,You're welcome.,1,Youre welcome,3,3.000000
1828,9404,Joe Rogan,"All you assholes out there, be nice. Be nice, ...",6,All you assholes out there be nice Be nice bit...,18,3.000000
1829,9410,Elon Musk,"All right, thank you.",1,All right thank you,4,4.000000
1830,9410,Joe Rogan,"Good night, everybody. END OF TRANSCRIPTAutoma...",1,Good night everybody END OF TRANSCRIPTAutomate...,18,18.000000

In [143]:
# Inspect the avg velocity of each speaker
df.groupby('Speaker')['Velocity'].mean()

Speaker
Elon Musk    2.814122
Jaime        3.453560
Joe Rogan    2.999045
Name: Velocity, dtype: float64

After all, Elon was high...

![image](https://bsmedia.business-standard.com/_media/bs/img/article/2018-09/09/full/1536463138-6668.jpg)